# JetBrains IDEs (PyCharm, IntelliJ IDEA, etc.)
.idea/

# Python virtual environment
.venv/
venv/
.env/
# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Python distribution / packaging
*.egg-info/
dist/
build/
